footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    font-size: 20px;
    padding: 20px 20px;
    background-color:cornflowerblue;
    color:white;
}
#footer-content{
    text-align: center;
}
footer img{
    cursor: pointer;
}